services:
  - type: web
    name: esgi-nodejs-app
    runtime: node
    runtimeVersion: 18
    plan: free
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 10000
